<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Physical Activity<br><em> vs. Exercise</em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>                     
                                <li>The terms physical activity and exercise are often used interchangeably to
                                describe the process of being physically active. However, they do mean
                                slightly different things. Physical activity refers to any bodily movement
                                resulting in energy expenditure. Exercise, on the other hand, is a planned and
                                purposeful attempt (at least in part) to improve fitness and health and usually
                                involves structured and repetitive physical movements.</li>
                            <li>There are many benefits in undertaking physical activity, whether that comes in
                                the form of sport or other lifestyle activities such as gardening, brisk walking or
                                simply climbing the stairs.</li>
                            <li>The benefits can be clustered into two broad categories:
                                <ol>
                                    <li>
                                        <strong>Short to medium term</strong> – Improvements in day-to-day wellness such as
                                        physical fitness, mood state, energy levels and one’s capacity to deal with
                                        stress
                                    </li>
                                    <li><strong>Long-term</strong> – Prevention of chronic (long-term) health problems (such as
                                        heart disease, stroke and cancer) and reduction in the risk of premature
                                        death. Some of the benefits you possibly would gain are <ul>
                                            <li>Up to a 35% lower risk of coronary heart disease and stroke</li>
                                            <li>Up to a 50% lower risk of type-two diabetes</li>
                                            <li>Up to a 50% lower risk of colon cancer</li>
                                            <li>Up to a 20% lower risk of breast cancer
                                            </li>
                                            <li>A 30% lower risk of early death
                                            </li>
                                            <li>Up to an 83% lower risk of osteoarthritis</li>
                                            <li>Up to a 68% lower risk of hip fracture</li>
                                            <li>A 30% lower risk of falls (among older adults)
                                            </li>
                                            <li>Up to a 30% lower risk of depression</li>
                                            <li>Up to a 30% lower risk of dementia.</li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>

                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>
