<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
   <section id="white" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                           <h1>Achieving your goals <em>for exercise</em></h1>
                        </div>
                        <div class="text-content">
                            <div class="section-heading">
                            <ul>
                             <span>There are several factors that can increase the chances of achieving one’s goals
                            for physical activity. The list below can be applied to many other types of goals.
                        </span></br></br>
                        <ul>
                            <li><strong>Set short-term exercise goals</strong> – Reaching short-term exercise goals is a
                                great motivation to continue exercising (i.e. it can boost <strong>‘self-efficacy’</strong>).
                                This means starting from where you are now and gradually building up your
                                levels of activity. For example, if someone hasn’t done any exercise for a
                                while, brisk walking for short periods may be better than joining the gym
                                and setting a target to go several times a week. Gradually building up the
                                level of activity, in terms of time, will help to avoid injury and makes
                                increased exercise seem less intrusive. After you have achieved a short
                                term goal set another one, or make a plan with both sort and long-term
                                goals.
                            </li>
                            <li><strong>Write your goals down</strong> – Write them down and put them in a place where
                                you can see them everyday! </li>
                            <li><strong>Be creative</strong> – Look for creative ways in which you can build exercise
                                programme into your daily routine (such as commuting, e.g. walking or
                                riding a bike instead of using the car). Look for easily accessible forms of
                                exercise and sport activities.
                            </li>
                            <li><strong>Make a list of the benefits of exercise</strong> – Knowledge of the health benefits
                                of exercise can help boost motivation to exercise. Write down the ways in
                                which physical exercise will benefit you in particular: including how will you
                                feel when you are implementing your exercise plan? What else will you be
                                able to do as a result of undertaking more exercise?</li>
                            <li><strong>Identify the barriers</strong> – Make a list of anything that might get in the way of
                                you achieving your exercise goals and then explore ways you can
                                overcome these potential barriers. For example, if distractions prove to be
                                a problem, have you thought about a training partner? Training with a
                                friend can be effective in terms of the intensity of exercise programme and
                                the commitment you show</li>
                            <span>For more on Goal Setting go to the Goal Resources tab in your Account
                                and take a look at the first section on SMART Goals.
                            </span>
                            </ul>
            </section>
       
</div>
