

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#"><img src="app/styles/images/SGH-logo.png" width="90%"></a>
            <div><img src="app/styles/images/humanface.jpg" width="100%" alt="WellKom"></div>
            </div>
       <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                             Home
                        </a>
                    </li>
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Physical Activity
                        </a>
                    </li>
                    <li>
                        <a href="#projects">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Physical Activity vs. Exercise
                        </a>
                    </li>
                    <li>
                        <a href="#video">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Recommended level of exercise
                        </a>
                    </li>
                    <li>
                        <a href="#grey">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Developing an active lifestyle
                        </a>
                    </li>
                    <li>
                        <a href="#white">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Achieving your goals for exercise
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Additional resources
                        </a>
                    </li>
                    <li>
                        <a href="#thankyou">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Thank you!
                        </a>
                    </li>
                </ul>
            </nav>
        </div>