<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
           <section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Recommended level<br><em> of exercise</em></h1>
                        </div>
                        <div class="text-content">
                            <div class="section-heading">
                            <ul>
                             <li>To gain maximum protection against long-term health problems, </li>
                            <li>‘Adults should achieve a total of at least 30 minutes a day of at least
                                moderate intensity physical activity on five or more days of the week.’</li>
                            <li>Moderate intensity physical activity is defined as periods of activity during which
                                you usually experience: 
                                <ol>
                                    <li>An increase in breathing rate</li>
                                    <li>An increase in heart rate to the level where the pulse can be felt, and </li>
                                    <li>A feeling of increased warmth, possibly accompanied by sweating on
                                        hot or humid days</li>
                                </ol>
                            </li>
                            <p>The recommended levels of activity can be achieved either by doing all the daily
                                activity in one session, or through several shorter bouts of activity of 10 minutes
                                or more. The activity can be lifestyle activity (such as climbing stairs or brisk
                                walking; or structured exercise or sport, or a combination of these. The same
                                recommendations are also appropriate for older people.</li>
                            </p>         
            </section> 
</div>
